<div class="picture_area" style="background-image:url(/images/sign_in_image.jpg)">
  <%= link_to "Pixel Knowledge とは", about_path, class:"sign_in_link" %>
</div>
<div class="user_info">
  <div class="inner">
    <div class="user_image">
      <% if params[:id] %>
        <% if @user.user_image.present? %>
          <%= image_tag @user.user_image, alt:@user.name+"さんのアイコン画像" %>
        <% else %>
          <%= image_tag "/images/blank_icon.png" %>
        <% end %>
      <% else %>
        <% if current_user.user_image.present? %>
          <%= image_tag current_user.user_image, alt:current_user.name+"さんのアイコン画像" %>
        <% else %>
          <%= image_tag "/images/blank_icon.png" %>
        <% end %>
      <% end %>
    </div>
    <div class="user_status">
      <div class="user_name">
        <% if params[:id] %>
          <%= @user.name %>
        <% else %>
          <%= current_user.name %>
        <% end %>
      </div>
      <div>
        投稿数 :
        <% if params[:id] %>
          <%= @user.knowledges.count %>
        <% else %>
          <%= current_user.knowledges.count %>
        <% end %>
      </div>
    </div>
    <div class="user_menu">
      <%= link_to new_post_path do %>
        <i class="fa fa-pencil"></i> 投稿する
      <% end %>
      <%= link_to favorites_path do %>
        <i class="fa fa-heart-o"></i> お気に入り一覧
      <% end %>
    </div>
  </div>
</div>
