<%= form_with(model: @knowledge, url: post_path(@knowledge.id), id:"knowledge_update_form", remote: true) do |f| %>
  <div class="canvas_area inner">
    <div class="canvas_active_area">
      <ul>
        <li class="modal_sign_item">
          <%= f.label :title %>
        </li>
        <li>
          <%= f.text_field(:title, class:"canvas_l_input title_input", maxlength:"50") %>
        </li>
      </ul>
      <ul class="modal_sign_item">
        <li class="modal_sign_item">
          <%= f.label :content %>
        </li>
        <li>
          <%= f.text_area(:content, class:"canvas_l_input content_input", maxlength:"200") %>
        </li>
      </ul>
      <canvas id="my_canvas" height="500" width="800" ></canvas>
      <div class="btn btn-default submit_btn" onclick="update_post_canvas()">更新する</div>
    </div>
    <div class="canvas_select_area">
      <ul class="canvas_modes">
        <li class="modal_sign_item">モード</li>
        <li class="btn btn-default btn-sm user_tooltip select_mode" data-toggle="tooltip" title="選択モード" onclick="mode_ch_canvas(false)"><i class="fa fa-mouse-pointer"></i></li>
        <li class="btn btn-default btn-sm user_tooltip draw_mode" data-toggle="tooltip" title="描画モード" onclick="mode_ch_canvas(true)"><i class="fa fa-pencil"></i></li>
        <div class="btn-group">
          <button type="button" class="dropdown-toggle btn-default btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            線の太さ: <span>細</span>
          </button>
          <ul class="dropdown-menu">
            <li><a>細</a></li>
            <li><a>中</a></li>
            <li><a>太</a></li>
          </ul>
        </div>
        <input type="text" maxlength="7" class="form-control draw_colorpicker">
      </ul>
    </div>
    <div class="canvas_select_area">
      <ul>
        <li class="modal_sign_item">テキスト挿入</li>
        <li><textarea id="canvas_textbox" class="canvas_r_input insert_text_input" maxlength="50"></textarea></li>
        <div class="btn btn-default btn-sm" onclick="text_insert()">挿入する</div>
        <div class="btn-group">
          <button type="button" class="dropdown-toggle btn-default btn-sm" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            サイズ: <span>14</span>px
          </button>
          <ul class="dropdown-menu">
            <li><a>14</a></li>
            <li><a>15</a></li>
            <li><a>16</a></li>
            <li><a>17</a></li>
            <li><a>18</a></li>
            <li><a>19</a></li>
            <li><a>20</a></li>
            <li><a>21</a></li>
            <li><a>22</a></li>
            <li><a>23</a></li>
            <li><a>24</a></li>
            <li><a>25</a></li>
            <li><a>26</a></li>
            <li><a>27</a></li>
            <li><a>28</a></li>
            <li><a>29</a></li>
            <li><a>30</a></li>
            <li><a>31</a></li>
            <li><a>32</a></li>
            <li><a>33</a></li>
            <li><a>34</a></li>
          </ul>
        </div>
        <input type="text" maxlength="7" class="form-control select_text_colorpicker">
      </ul>
    </div>
    <div class="canvas_select_area">
      <ul>
        <li class="modal_sign_item">画像挿入</li>
        <label class="upload_image" for="canvas_image">
          <span class="upload_image_name">画像を選択する</span>
          <input type="file" id="canvas_image" style="display:none;">
        </label>
      </ul>
    </div>
    <div class="canvas_select_area">
      <ul>
        <li class="modal_sign_item">コメント</li>
        <li><textarea id="knowledge_comment" class="canvas_r_input comment_input" maxlength="100"></textarea></li>
      </ul>
      <div class="canvas_step">
        <div class="step_bar">
          <div class="btn btn-default btn-sm" onclick="update_prev_canvas()">戻る</div>
          <div class="btn btn-default btn-sm" onclick="update_canvas()">更新</div>
          <div class="btn btn-default btn-sm" onclick="update_next_canvas()">進む</div>
          <div class="step_num"><span class="step_current_num"></span> / <span class="step_max_num"></span> ステップ</div>
        </div>
        <ul class="step_images"></ul>
      </div>
    </div>
  </div>
<% end %>
